$blackDarkColor: #000000;
$backMediumColor: #2a2a2a;
$backLightColor: #3f3f3f;
$whiteColor: #ffffff;
$whiteLightColor: #f9f9f9;
$lightColor: #e8e8e8;
$lightMediumColor: #e5e5e5;
$lightDarkColor: #c1c1c1;
$blueColor: #0090da;
$blueHoverColor: #0078b6;
$blueActiveColor: #00588b;
$blueMediumColor: #5ec6f2;
$blueLightColor: #dcf4fc;
$grayColor: #666666;
$grayMediumColor: #999999;
$grayLightColor: #c1c1c1;
$greenColor: #0dac50;
$greenMediumColor: #27ae61;
$greenHoverColor: #0b8d42;
$greenActiveColor: #075e2c;
$greenLightColor: #ebf5ea;
$redColor: #ff2f2f;
$redMediumColor: #f94f5e;
$redDarkColor: #c20303;
$pinkColor: #ef5f81;
$orangeColor: #ff8030;
$yellowLightColor: #fefced;
$darkGreenGrayColor: #4b6580;
$purpleVioletColor: #9b58b5;
$crimsonRedColor: #d64457;
$tealGreenColor: #6e9992;
$oceanGreenColor: #16a086;
$carrotOrangeColor: #e67e22;
$magentaPinkColor: #d73c8a;
$disableColorColor: #898c8d;

$borderWhite: 1px solid #e7e7e7;
$borderBlue: 1px solid #c5e7f2;
$shaDowBigBlack: 0 5px 15px rgba($blackDarkColor, 0.1);
$shaDowSmallBlack: 0 2px 5px rgba($blackDarkColor, 0.08);
$textShadowBlack: 1px 1px 1px rgba($blackDarkColor, 0.3);
