*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
@media (max-width: 768px) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: #3f3f3f;
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
button {
  border: 0;
  outline: 0;
  cursor: pointer;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;
  outline: 0;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 1.2rem;
}
@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media (max-width: 1366px) {
  .container {
    width: 100%;
    padding: 0 4rem;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 1.6rem;
  }
}

::selection {
  color: #ffffff;
  background-color: #0dac50;
}

@keyframes fadeLeft {
  0% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(0);
  }
}
.nav {
  background-color: #0090da;
}
@media (max-width: 768px) {
  .nav {
    display: none;
  }
}
.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 0.8rem;
  flex-wrap: wrap;
  height: 100%;
}
.nav__menu {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
  flex-wrap: nowrap;
  min-height: 44px;
}
.nav__menu-shop {
  display: flex;
  justify-content: end;
  align-items: stretch;
  gap: 0;
  flex-wrap: nowrap;
}
@media (max-width: 1280px) {
  .nav__menu-shop {
    flex: 1;
    flex-basis: 100%;
  }
}
.nav__menu-item {
  position: relative;
}
@media (max-width: 1280px) {
  .nav__menu-item {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
}
.nav__menu-item:hover .nav__menu-dropdown {
  display: block;
  color: #ffffff;
}
.nav__menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  flex-wrap: nowrap;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #ffffff;
  line-height: 1;
  border-radius: 5px;
  padding: 0.7rem 2rem;
  cursor: pointer;
  transition: all 0.1s ease-out;
  background-color: transparent;
  user-select: none;
  white-space: nowrap;
  height: 100%;
}
.nav__menu-link:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
@media (max-width: 992px) {
  .nav__menu-link {
    padding: 0.7rem 0.5rem;
  }
}
.nav__menu-link.active {
  background-color: rgba(0, 0, 0, 0.1);
}
.nav__menu-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  font-size: 1.6rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.nav__menu-shop .nav__menu-link {
  background-color: rgba(0, 0, 0, 0.1);
}
.nav__menu-shop .nav__menu-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.nav__menu-shop .nav__menu-link.active {
  background-color: rgba(0, 0, 0, 0.4);
}
.nav__menu-shop .nav__menu-link.active:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.nav__menu-dropdown-link {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #ffffff;
  line-height: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.6rem;
  flex-wrap: nowrap;
  padding: 1.2rem 2.4rem;
  transition: all 0.1s ease-out;
}
.nav__menu-dropdown-link:hover {
  background-color: #0090da;
}
.nav__menu-dropdown-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  font-size: 1.4rem;
}

.header {
  width: 100%;
  min-height: 50px;
  position: relative;
  transition: 0.3s ease;
}
.header.open {
  width: calc(100% - 29rem);
  margin-left: 29rem;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 50px;
}
@media (max-width: 768px) {
  .header__wrapper {
    margin-top: 1.6rem;
    align-items: start;
    flex: 1;
  }
}
@media (max-width: 768px) {
  .header__logo {
    flex: 1;
  }
}
.header__logo a {
  display: block;
  width: 14rem;
}
.header__logo img {
  width: 100%;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
}
@media (max-width: 768px) {
  .header__menu {
    display: none;
  }
}
.header__menu-item {
  position: relative;
}
.header__menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  flex-wrap: nowrap;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: #3f3f3f;
  line-height: 1;
  border-radius: 5px;
  padding: 0.7rem 2rem;
  cursor: pointer;
  transition: all 0.1s ease-out;
  background-color: transparent;
  user-select: none;
  white-space: nowrap;
  padding: 0.9rem 1rem;
  position: relative;
}
.header__menu-link:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
.header__menu-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  font-size: 1.6rem;
}
.header__menu-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  bottom: auto;
  left: auto;
  z-index: 1;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  color: #2a2a2a;
  display: none;
}
.header__menu-dropdown.bg-blue {
  background-color: #0078b6;
}
.header__menu-dropdown.left {
  right: auto;
  left: 0;
}
.header__menu-dropdown--xSm {
  min-width: 18rem;
}
.header__menu-dropdown--sm {
  min-width: 18.5rem;
}
.header__menu-dropdown--md {
  min-width: 24rem;
}
.header__menu-dropdown--lg {
  min-width: 28rem;
}
.header__menu-item:hover .header__menu-dropdown {
  display: block;
}
.header__dropdown-theme {
  padding: 0.8rem 2.4rem;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1.6rem;
}
.header__dropdown-theme--color {
  display: block;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 0.5rem;
}
.header__dropdown-theme--color:hover {
  box-shadow: inset 0 0 5px rgba(0, 1, 1, 0.3);
}
.header__dropdown-theme--color:nth-child(1) {
  background-color: #0090da;
}
.header__dropdown-theme--color:nth-child(2) {
  background-color: #4b6580;
}
.header__dropdown-theme--color:nth-child(3) {
  background-color: #27ae61;
}
.header__dropdown-theme--color:nth-child(4) {
  background-color: #9b58b5;
}
.header__dropdown-theme--color:nth-child(5) {
  background-color: #d64457;
}
.header__dropdown-theme--color:nth-child(6) {
  background-color: #6e9992;
}
.header__dropdown-theme--color:nth-child(7) {
  background-color: #16a086;
}
.header__dropdown-theme--color:nth-child(8) {
  background-color: #e67e22;
}
.header__dropdown-theme--color:nth-child(9) {
  background-color: #d73c8a;
}
.header__dropdown-theme--color a {
  display: block;
  height: 100%;
}
.header__menu-dropdown-list {
  width: 100%;
  padding: 1rem 0;
}
.header__menu-dropdown-link {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: inherit;
  line-height: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.6rem;
  flex-wrap: nowrap;
  padding: 0.8rem 2.4rem;
  border-radius: 0;
  transition: all 0.1s ease-out;
}
.header__menu-dropdown-link:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.header__menu-dropdown-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  font-size: 1.6rem;
  color: #666666;
}
.header__menu-dropdown-icon img {
  width: 1.6rem;
}
.header__notify {
  position: absolute;
  top: 100%;
  right: 0;
  bottom: auto;
  left: auto;
  z-index: 1;
  min-width: 40rem;
  max-height: 35.8rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: height 0.15s;
  display: none;
}
.header__notify.show {
  display: block;
}
.header__notify--heading {
  font-weight: 700;
  font-size: 1.8rem;
  color: #2a2a2a;
  line-height: 2.7rem;
  padding: 2.4rem 2.4rem 1.2rem;
}
.header__notify-tabs {
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0.07);
}
.header__notify-tabs-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  padding: 0 2.4rem;
}
.header__notify-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: #2a2a2a;
  line-height: 1;
  border-radius: 5px;
  padding: 0.7rem 2rem;
  cursor: pointer;
  transition: all 0.1s ease-out;
  background-color: transparent;
  user-select: none;
  white-space: nowrap;
  padding: 0.9rem 2rem;
  border-radius: 0;
  color: #666666;
}
.header__notify-tab:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
.header__notify-tab.active {
  color: #2a2a2a;
  position: relative;
}
.header__notify-tab.active::before {
  position: absolute;
  top: auto;
  right: auto;
  bottom: -0.16rem;
  left: 0;
  z-index: 1;
  content: "";
  display: block;
  width: 100%;
  height: 0.16rem;
  background-color: #0090da;
}
.header__notify-tab:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.header__notify-tab-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  height: 24.4rem;
  padding: 2.4rem;
  display: none;
}
.header__notify-tab-content.active {
  display: flex;
}
.header__notify-empty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
  flex-wrap: nowrap;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: #999999;
  line-height: 1;
}
.header__notify-empty-icon {
  font-size: 4.5rem;
}
.header__btn-bar {
  display: none;
  height: 2rem;
  width: 3rem;
  position: relative;
  z-index: 9;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .header__btn-bar {
    display: flex;
  }
}
.header__btn-bar-line {
  display: block;
  height: 0.25rem;
  width: 100%;
  border-radius: 999px;
  background: #0090da;
}
.header__btn-bar-line--1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}
.header__btn-bar-line--2 {
  transition: transform 0.2s ease-in-out;
}
.header__btn-bar-line--3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}
.header__btn-bar.active .header__btn-bar-line {
  background-color: #ffffff;
  position: relative;
}
.header__btn-bar.active .header__btn-bar-line--1 {
  width: 1.4rem;
  transform: rotate(45deg) translate(0.7rem, 0.5rem);
}
.header__btn-bar.active .header__btn-bar-line--2 {
  width: 2.2rem;
  transform: scaleX(1) translateX(0);
}
.header__btn-bar.active .header__btn-bar-line--3 {
  width: 1.4rem;
  transform: rotate(-45deg) translate(0.7rem, -0.5rem);
}
.header__user-mobile {
  display: none;
}
@media (max-width: 768px) {
  .header__user-mobile {
    display: block;
  }
}
.header__user-mobile-icon {
  color: #666666;
}
.header__user-mobile-container.change {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  position: absolute;
  left: 0;
  transition: 0.5s;
}
.header__user-mobile-list {
  position: relative;
  z-index: 9;
  padding: 1rem 0;
  min-width: 22rem;
  display: none;
  background-color: #ffffff;
  animation: fadeLeft 0.3s forwards;
}
.header__user-mobile-list.show {
  display: block;
}
.header__user-mobile-container.change .header__user-mobile-list {
  padding: 1rem 1.6rem;
  min-width: 28rem;
}
.header__user-mobile-list .header__menu-link {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.8rem;
  flex-wrap: nowrap;
}
.header__user-mobile-list .header__menu-link-icon {
  font-size: 1.8rem;
  color: #666666;
}
.header__user-mobile-overlay, .header__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  user-select: none;
}
.header__user-mobile-btn-close {
  position: relative;
  z-index: 9;
  width: 0;
  font-size: 2.4rem;
  color: #ffffff;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}
.header__user-mobile-container.change .header__user-mobile-btn-close {
  width: 28rem;
}
@media (max-width: 768px) {
  .header__overlay.show, .header__user-mobile-container.change .header__user-mobile-overlay, .header__user-mobile-container.change .header__user-mobile-btn-close {
    opacity: 1;
    visibility: visible;
  }
}
.header__menu-mobile {
  position: fixed;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: 9;
  width: 27rem;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transform: translateX(-110%);
  transition: transform 0.3s ease;
  overflow-y: auto;
}
.header__menu-mobile.open {
  transform: translateX(0);
}
.header__menu-mobile-list {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 0;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
}
.header__menu-mobile-list--sub {
  margin-left: 0.8rem;
}
.header__menu-mobile-item {
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
}
.header__menu-mobile-link {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.8rem;
  flex-wrap: nowrap;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #666666;
  line-height: 1;
  padding-bottom: 2rem;
  height: auto;
}
.header__menu-mobile-title {
  margin-top: 0.4rem;
  font-weight: 700;
  color: #2a2a2a;
}

/*# sourceMappingURL=style.css.map */
