@mixin btnPrimary($bgColor: transparent, $color: $whiteColor, $fontSize: 1.3rem, $gap: 0) {
  @include dFlex(center, $gap: $gap);
  @include textBody1($color: $color, $fontSize: $fontSize);

  border-radius: 5px;
  padding: 0.7rem 2rem;
  cursor: pointer;
  transition: all 0.1s ease-out;
  background-color: $bgColor;
  user-select: none;
  white-space: nowrap;

  @if $bgColor == transparent {
    &:hover {
      background-color: rgba($blackDarkColor, 0.15);
    }
  }

  @if $bgColor == $greenColor {
    &:hover {
      background-color: $greenHoverColor;
    }

    &:active {
      background-color: $greenActiveColor;
    }
  }

  @if $bgColor == $blueColor {
    &:hover {
      background-color: $blueHoverColor;
    }

    &:active {
      background-color: $blueActiveColor;
    }
  }
}
