@mixin dFlex($just: space-between, $align: center, $gap: 0, $wrap: nowrap) {
  display: flex;
  justify-content: $just;
  align-items: $align;
  gap: $gap;
  flex-wrap: $wrap;
}

@mixin dFlexCol($just: space-between, $align: center, $gap: 0, $wrap: nowrap, $direction: column) {
  @include dFlex($just, $align, $gap, $wrap);

  flex-direction: $direction;
}

@mixin textOverflowEllipsis($line: 1) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}
