@mixin position($pos: absolute, $top: auto, $right: auto, $bottom: auto, $left: auto, $zIndex: 1) {
  position: $pos;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $zIndex;
}

@mixin positionCenter(
  $pos: absolute,
  $top: 50%,
  $right: auto,
  $bottom: auto,
  $left: 50%,
  $zIndex: 1,
  $x: -50%,
  $y: -50%
) {
  position: $pos;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $zIndex;
  transform: translate($x, $y);
}
