@mixin fontArial() {
  font-family: Arial, Helvetica, sans-serif;
}

@mixin fontStyle($fontWeight: 700, $fontSize: 1.4rem, $lineHeight: 1, $textColor: $color) {
  font-weight: $fontWeight;
  font-size: $fontSize;
  color: $textColor;
  line-height: $lineHeight;
}

@mixin headingBig($color: $blueColor) {
  @include fontArial;
  @include fontStyle(700, 2.2rem, 28px, $textColor: $color);

  white-space: nowrap;
}

@mixin heading1($color: $backLightColor) {
  @include fontArial;
  @include fontStyle(700, 2rem, $textColor: $color);
  @include dFlex(start);

  min-height: 54px;
}

@mixin heading2($color: $backLightColor) {
  @include fontArial;
  @include fontStyle($textColor: $color);

  text-transform: uppercase;
}

@mixin heading3($color: $backLightColor) {
  @include fontArial;
  @include fontStyle(700, 1.3rem, $lineHeight: 1.8rem, $textColor: $color);

  min-height: 1.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin textBody1($color: $whiteColor, $fontSize: 1.4rem) {
  @include fontArial;
  @include fontStyle(400, $fontSize: $fontSize, $textColor: $color);
}

@mixin textBody2($color: $backLightColor) {
  @include fontArial;
  @include fontStyle(400, 1.3rem, $textColor: $color);
}

@mixin textBody3($color: $backLightColor) {
  @include fontArial;
  @include fontStyle(400, 1.2rem, $textColor: $color);

  white-space: nowrap;
}
