@import '../../scss/variables/colors';
@import '../../scss/variables/sizes';

@import '../../scss/mixins/typo';
@import '../../scss/mixins/display';
@import '../../scss/mixins/responsive';
@import '../../scss/mixins/position';
@import '../../scss/mixins/button';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;

  @include maxWidth($medium) {
    font-size: 56.25%;
  }

  @include maxWidth($small) {
    font-size: 50%;
  }
}

body {
  @include textBody2;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
button {
  border: 0;
  outline: 0;
  cursor: pointer;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;
  outline: 0;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 1.2rem;

  @include minWidth($xxLarge) {
    width: 1280px;
  }

  @include minWidth($exLarge) {
    width: 1200px;
  }

  @include maxWidth($xxxLarge) {
    width: 100%;
    padding: 0 4rem;
  }

  @include maxWidth($medium) {
    padding: 0 1.6rem;
  }
}

::selection {
  color: $whiteColor;
  background-color: $greenColor;
}
