.header {
  $widthMenuMobile: 27rem;

  width: 100%;
  min-height: $heightHeader;
  position: relative;
  transition: 0.3s ease;

  &.open {
    width: calc(100% - ($widthMenuMobile + 2rem));
    margin-left: calc($widthMenuMobile + 2rem);
  }

  &__wrapper {
    @include dFlex;

    width: 100%;
    min-height: $heightHeader;

    @include maxWidth($medium) {
      margin-top: 1.6rem;
      align-items: start;
      flex: 1;
    }
  }

  &__logo {
    @include maxWidth($medium) {
      flex: 1;
    }

    a {
      display: block;
      width: 14rem;
    }

    img {
      width: 100%;
    }
  }

  &__menu {
    @include dFlex;

    @include maxWidth($medium) {
      display: none;
    }
  }

  &__menu-item {
    position: relative;
  }

  &__menu-link {
    @include btnPrimary($color: $backLightColor, $gap: 0.8rem);

    padding: 0.9rem 1rem;
    position: relative;
  }

  &__menu-link-icon {
    @include dFlex(center);

    font-size: 1.6rem;
  }

  &__menu-dropdown {
    @include position($top: 100%, $right: 0);

    background-color: $whiteColor;
    border-radius: 0.5rem;
    box-shadow: $shaDowBigBlack;
    color: $backMediumColor;
    display: none;

    &.bg-blue {
      background-color: $blueHoverColor;
    }

    &.left {
      right: auto;
      left: 0;
    }

    &--xSm {
      min-width: 18rem;
    }

    &--sm {
      min-width: 18.5rem;
    }

    &--md {
      min-width: 24rem;
    }

    &--lg {
      min-width: 28rem;
    }
  }

  &__menu-item:hover &__menu-dropdown {
    display: block;
  }

  $header__dropdown-theme-colors: (
    $blueColor,
    $darkGreenGrayColor,
    $greenMediumColor,
    $purpleVioletColor,
    $crimsonRedColor,
    $tealGreenColor,
    $oceanGreenColor,
    $carrotOrangeColor,
    $magentaPinkColor
  );

  &__dropdown-theme {
    padding: 0.8rem 2.4rem;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1.6rem;

    &--color {
      display: block;
      width: 3.6rem;
      height: 3.6rem;
      border-radius: 0.5rem;

      &:hover {
        box-shadow: inset 0 0 5px rgba(0, 1, 1, 0.3);
      }

      @each $color in $header__dropdown-theme-colors {
        $index: index($header__dropdown-theme-colors, $color);
        &:nth-child(#{$index}) {
          background-color: $color;
        }
      }

      a {
        display: block;
        height: 100%;
      }
    }
  }

  &__menu-dropdown-list {
    width: 100%;
    padding: 1rem 0;
  }

  &__menu-dropdown-link {
    @include textBody2(inherit);
    @include dFlex(start, $gap: 1.6rem);

    padding: 0.8rem 2.4rem;
    border-radius: 0;
    transition: all 0.1s ease-out;

    &:hover {
      background-color: rgba($blackDarkColor, 0.05);
    }
  }

  &__menu-dropdown-icon {
    @include dFlex(center);

    font-size: 1.6rem;
    color: $grayColor;

    img {
      width: 1.6rem;
    }
  }

  &__notify {
    @include position($top: 100%, $right: 0);

    min-width: 40rem;
    max-height: 35.8rem;
    background-color: $whiteColor;
    border-radius: 0.5rem;
    box-shadow: $shaDowBigBlack;
    overflow: hidden;
    transition: height 0.15s;
    display: none;

    &.show {
      display: block;
    }

    &--heading {
      @include fontStyle(700, 1.8rem, 2.7rem, $backMediumColor);

      padding: 2.4rem 2.4rem 1.2rem;
    }
  }

  &__notify-tabs {
    border-bottom: 0.2rem solid rgba($blackDarkColor, 0.07);
  }

  &__notify-tabs-container {
    @include dFlex(start);

    padding: 0 2.4rem;
  }

  &__notify-tab {
    @include btnPrimary($color: $backMediumColor);

    padding: 0.9rem 2rem;
    border-radius: 0;
    color: $grayColor;

    &.active {
      color: $backMediumColor;
      position: relative;

      &::before {
        @include position($bottom: -0.16rem, $left: 0);
        content: '';
        display: block;
        width: 100%;
        height: 0.16rem;
        background-color: $blueColor;
      }
    }

    &:hover {
      background-color: rgba($blackDarkColor, 0.05);
    }
  }

  &__notify-tab-content {
    @include dFlex(center);

    height: 24.4rem;
    padding: 2.4rem;
    display: none;

    &.active {
      display: flex;
    }
  }

  &__notify-empty {
    @include dFlexCol($gap: 1.6rem);
    @include textBody2($grayMediumColor);
  }

  &__notify-empty-icon {
    font-size: 4.5rem;
  }

  &__btn-bar {
    display: none;
    height: 2rem;
    width: 3rem;
    position: relative;
    z-index: 9;
    flex-direction: column;
    justify-content: space-between;

    @include maxWidth($medium) {
      display: flex;
    }
  }

  &__btn-bar-line {
    display: block;
    height: 0.25rem;
    width: 100%;
    border-radius: 999px;
    background: $blueColor;

    &--1 {
      transform-origin: 0% 0%;
      transition: transform 0.4s ease-in-out;
    }

    &--2 {
      transition: transform 0.2s ease-in-out;
    }

    &--3 {
      transform-origin: 0% 100%;
      transition: transform 0.4s ease-in-out;
    }
  }

  &__btn-bar.active &__btn-bar-line {
    background-color: $whiteColor;
    position: relative;

    &--1 {
      width: 1.4rem;
      transform: rotate(45deg) translate(0.7rem, 0.5rem);
    }

    &--2 {
      width: 2.2rem;
      transform: scaleX(1) translateX(0);
    }

    &--3 {
      width: 1.4rem;
      transform: rotate(-45deg) translate(0.7rem, -0.5rem);
    }
  }

  &__user-mobile {
    display: none;

    @include maxWidth($medium) {
      display: block;
    }
  }

  &__user-mobile-icon {
    color: $grayColor;
  }

  &__user-mobile-container.change {
    @include dFlexCol(start);

    width: 100%;
    position: absolute;
    left: 0;
    transition: 0.5s;
  }

  &__user-mobile-list {
    position: relative;
    z-index: 9;
    padding: 1rem 0;
    min-width: 22rem;
    display: none;
    background-color: $whiteColor;
    animation: fadeLeft 0.3s forwards;

    &.show {
      display: block;
    }
  }

  &__user-mobile-container.change &__user-mobile-list {
    padding: 1rem 1.6rem;
    min-width: 28rem;
  }

  &__user-mobile-list &__menu-link {
    @include dFlex(start, $gap: 0.8rem);
  }

  &__user-mobile-list &__menu-link-icon {
    font-size: 1.8rem;
    color: $grayColor;
  }

  &__user-mobile-overlay,
  &__overlay {
    @include position(fixed, 0, 0, 0, 0, 2);

    background-color: rgba($blackDarkColor, 0.4);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
    user-select: none;
  }

  &__user-mobile-btn-close {
    position: relative;
    z-index: 9;
    width: 0;
    font-size: 2.4rem;
    color: $whiteColor;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
  }

  &__user-mobile-container.change &__user-mobile-btn-close {
    width: 28rem;
  }

  &__overlay.show,
  &__user-mobile-container.change &__user-mobile-overlay,
  &__user-mobile-container.change &__user-mobile-btn-close {
    @include maxWidth($medium) {
      opacity: 1;
      visibility: visible;
    }
  }

  &__menu-mobile {
    @include position(fixed, 0, $left: 0, $zIndex: 9);

    width: $widthMenuMobile;
    height: 100%;
    background-color: $whiteColor;
    box-shadow: $shaDowBigBlack;
    transform: translateX(-110%);
    transition: transform 0.3s ease;
    overflow-y: auto;

    &.open {
      transform: translateX(0);
    }
  }

  &__menu-mobile-list {
    @include dFlexCol(start, start);

    width: 100%;

    &--sub {
      margin-left: 0.8rem;
    }
  }

  &__menu-mobile-item {
    width: 100%;
    border-bottom: $borderWhite;
  }

  &__menu-mobile-link {
    @include dFlex(start, $gap: 0.8rem);
    @include textBody1($grayColor);

    padding-bottom: 2rem;
    height: auto;
  }

  &__menu-mobile-title {
    margin-top: 0.4rem;
    font-weight: 700;
    color: $backMediumColor;
  }
}
