.nav {
  background-color: $blueColor;

  @include maxWidth($medium) {
    display: none;
  }

  &__wrapper {
    @include dFlex($align: stretch, $wrap: wrap, $gap: 0.8rem);

    height: 100%;
  }

  &__menu {
    @include dFlex($align: stretch);

    min-height: $heightNavigation;
  }

  &__menu-shop {
    @include dFlex(end, stretch);

    @include maxWidth($xxLarge) {
      flex: 1;
      flex-basis: 100%;
    }
  }

  &__menu-item {
    position: relative;

    @include maxWidth($xxLarge) {
      border-right: 1px solid rgba($blackDarkColor, 0.1);
    }
  }

  &__menu-item:hover &__menu-dropdown {
    display: block;
    color: $whiteColor;
  }

  &__menu-link {
    @include btnPrimary($fontSize: 1.4rem, $gap: 0.8rem);

    height: 100%;

    @include maxWidth($large) {
      padding: 0.7rem 0.5rem;
    }

    &.active {
      background-color: rgba($blackDarkColor, 0.1);
    }
  }

  &__menu-icon {
    @include dFlex;

    font-size: 1.6rem;
    text-shadow: $textShadowBlack;
  }

  &__menu-shop &__menu-link {
    background-color: rgba($blackDarkColor, 0.1);

    &:hover {
      background-color: rgba($blackDarkColor, 0.2);
    }

    &.active {
      background-color: rgba($blackDarkColor, 0.4);

      &:hover {
        background-color: rgba($blackDarkColor, 0.5);
      }
    }
  }

  &__menu-dropdown-link {
    @include textBody1;
    @include dFlex(start, $gap: 1.6rem);

    padding: 1.2rem 2.4rem;
    transition: all 0.1s ease-out;

    &:hover {
      background-color: $blueColor;
    }
  }

  &__menu-dropdown-icon {
    @include dFlex(center);

    font-size: 1.4rem;
  }
}
